.column {
  padding: 40px;

  border-radius: 30px;
  font-size: var(--content-size);
}

.column__descriptor {
  padding: 40px;
  padding-left: 0px;
}

.column__descriptor:nth-of-type(2) {
  padding: 0px;
}

.pricing-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing-column1 {
  grid-area: col2;
  background-color: rgb(232, 243, 253);
}

.pricing-column2 {
  grid-area: col3;

  color: #fff;
  background-color: #3c25ce;
}

.column .column__price {
  display: inline-block;
}
